#chartReport {
  width: 500px;
  height: 250px;
  margin:0 auto;
  margin-bottom: 70px;
  position: relative;
}

.bunnyStorageChoice {
  font-size: 12px;
  height: 40px;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -3%;
  left: 43%;
}

.scalewayStorageChoice {
  font-size: 12px;
  height: 40px;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -3%;
  left: 63%;
}

.backblaze {
  background-image: url(./icons/backblaze.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  position: absolute;
  bottom: 22%;
  left: 27%;
  width: 30px;
  height: 30px;
}

.bunnyLogo {
  background-image: url(./icons/bunny.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  position: absolute;
  bottom: 22%;
  left: 46%;
  width: 30px;
  height: 30px;
}

.scaleway {
  background-image: url(./icons/scaleway.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  position: absolute;
  bottom: 22%;
  left: 67%;
  width: 30px;
  height: 30px;
}

.vultr {
  background-image: url(./icons/vultr.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  position: absolute;
  bottom: 22%;
  left: 87%;
  width: 30px;
  height: 30px;
}

@media (min-width: 768px) {
  #chartReport {
    width: 700px;
    height: 350px;
  }

  .bunnyStorageChoice {
    flex-direction: row;
    top: 37%;
    left: 0;
  }

  .scalewayStorageChoice {
    flex-direction: row;
    top: 55%;
    left: 0;
  }

  .backblaze {
    top: 14%;
    left: 17%;
  }

  .bunnyLogo {
    top: 31%;
    left: 17%;
  }

  .scaleway {
    top: 47%;
    left: 17%;
  }

  .vultr {
    top: 62%;
    left: 17%;
  }
}